.header{
    display:flex;
    align-items: center;
    padding: 0 24px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    justify-content:space-between;
    border-bottom: 1px solid #d3d3d3;
}
.header-icon{
    height: 80px;
    width: 80px;
    margin-left: 20px;
}
.header-search{
    border-radius: 24px;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    border: 1px solid #ddd;
    transition: box-shadow 0.2s ease ;
}
.select-option{
    background: transparent;
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border: none;
    font-family: "Circular Medium";
    cursor: pointer;
}
.header-searchicon{
    width:32px;
    height:32px;
    border-radius: 50%;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}
image{
    width:12px;
    height: 12px;
}
.header-search:hover{
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.18)
}
.divide{
    width: 1px;
    height: 24px;
    background-color: black;
}
.header-nav{
    display: flex;
    justify-content: flex-end;
   }
.header-nav-button{
    margin: 6px 6px;
    border: 0px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
   padding: 8px 8px;

}
.header-nav-button-greyhover:hover{
    background-color: #D3D3D3;
}
.account{
    border: 1px solid #D3D3D3;
    height: 42px;
    border-radius: 22px;
    padding: 5px 5px 5px 32px;
    transition: box-shadow 0.2s ease;
}
.account:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.line{
    margin-top: 0px;
    margin-bottom: 0px;
}
.filters{
    display: flex;
    border-bottom: 1px solid white;
    background-color: white;
    padding: 10px 120px 0px 120px;
    
    
}

.filters img{
    height: 28px;
    width: 28px;
    margin-right: 80px;
    display: flex;

}
.img-name:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    background-color: #D3D3D3;
}

.trip{
    font-size: small;
}

.cards{
    display: flex;
    padding: 30px 120px;
    
}
.card-img{
    margin: 10px;
    border-radius: 10px
    !important;
    overflow: hidden;
    
}
.card-img:hover{
    box-shadow: 0 6px 18px 12px rgb(0 0 0 / 75%);
    transition: transform .1s ease-in;
    cursor: pointer;
}
.card-img>img{
    object-fit: fill;
    min-width: 300px;
    min-height: 200px;
    width: 100%;
}
.card-info{
    text-align: center;
    margin-top: 5px;
}
.card-info>h2{
    font-size: 18px;
    font-weight: 600;
}
.home{
    display: flex;
    padding: 10px 120px;
}
.footer{
    text-align: center;
    padding: 10px;
    bottom: 0;
    border-top: 1px solid #d3d3d3;
    background-color: #f7f7f7;
}
.footer>p{
    padding: 2px;
    font-size: 14px;
}
.created{
    font-weight: 700;
    color: tomato;
}
@media only screen and (max-width:768px) {
    
    .img-name{
        height:50px;
        width:50px;
        padding: 10px;
        
    }
    .card-img{
      width: 100%;
    }
    
}